* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 10px;
}
.container {
  background-color: rgba(68, 25, 6, 0.692);
  padding: 20px 30px;
  color: whitesmoke;

  width: 450px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 5px 5px 20px rgba(51, 51, 51, 0.8);

  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.input-class {
  width: 100%;
  min-height: 30px;
  border-radius: 4px;
  border: none;
  padding: 0 4px;
  font-size: 18px;
}

.btn {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

ul {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 15px;
}

.list {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.list btn {
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

.delete {
  color: whitesmoke;
  background-color: rgba(183, 54, 54, 0.867);
}

.edit {
  color: whitesmoke;
  background-color: rgba(107, 161, 45, 0.867);
}

.update {
  display: flex;
  gap: 20px;
}

.update input {
  width: 100%;
  min-height: 30px;
  border-radius: 4px;
  border: none;
  padding: 0 4px;
  font-size: 18px;
}

.update button {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  background-color: rgba(35, 169, 35, 0.652);
  color: white;
}
